@font-face {
    font-family: 'seoul';
    src: local('서울한강체'), url('../font/SeoulNamsanB.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: seoul;
}
body {
    display: flex;
    flex-flow: row wrap;
}
/* 클래스 호버시 나오는 창 */
.detail-class {
    position: absolute;
    background-color: #abc;
    left: 0;
    right: 0;
    width: 10%;
    padding: 1%;
    display: none;
}
/* 시간표 */
.timetable-cover, .todo-cover {
    width: 33%;
    margin-left: 5%;
}
.timetable-cover > h2, .todo-cover > h2 {
    text-align: center;
    padding: 2% 0;
    font-size: 1.5rem;
}
.timetable {
    display: flex;
    flex-flow: row nowrap;
}
.timetable-col {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 20%;
    height: 80vh;
}
.timetable-col:first-child > div {
    border-left: .1px solid #3333;
}
.timetable-col > div:first-child {
    font-weight: bold;
    height: 10%;
}
.timetable-col > div {
    padding: 5%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1px solid #3333;
    border-left: none;
}
.timetable-col > div:not(div:last-child) {
    border-bottom: none;
}
.timetable-col {
    color: #333;
    font-weight: bold;
}
/* Todos */
.todo-cover {
    margin-left: 4%;
}
.todo-input {
    position: relative;
}
.todo-text {
    width: 100%;
    padding: 2%;
    outline: none;
    border: 2px solid #f2f2f2;
    transition: .2s;
}
.todo-input > button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 42px;
    height: 42px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: .2s;
}
.todo-list {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    height: 70vh;
}
.todo-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1% 2%;
}
.todo-item > input {
    flex: .01;
}
.todo-item > div {
    flex: 1;
    font-size: 1rem;
    padding-left: 1rem;
}
.todo-button {
    flex: .2;
}
.todo-delete {
    background-color: #333;
    color: #fff;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
}
.todo-delete:hover {
    background-color: #4e4e4e;
}