@font-face {
    font-family: 'seoul';
    src: local('서울한강체'), url('../font/SeoulNamsanB.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.detail-class {
    position: absolute;
    background-color: #abc;
    left: 0;
    right: 0;
    width: 10%;
    padding: 1%;
    opacity: 0;
}
.timetable {
    display: flex;
    flex-flow: row nowrap;
}
.timetable-col {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 6%;
    height: 80vh;
}
.timetable-col > div:first-child {
    font-weight: bold;
    height: 10%;
}
.timetable-col > div {
    padding: 5%;
    height: 30%;
    font-family: seoul;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timetable-col > div:not(div:last-child) {
    border-bottom: none;
}
.timetable-col {
    color: #333;
    font-weight: bold;
}